

@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Montserrat&family=Nunito:wght@200;300;400;600;700&family=Titillium+Web:wght@200&display=swap');

:root{
    --orange:#ffa500;
}


*{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: capitalize;
    outline: none;
    border: none;
    text-decoration: none;
    transition: all .2s linear;
}
*::selection{
    background: var(--orange);
    color: #fff;

}
html{
    font:62.5%;
    overflow-x: hidden;
    scroll-padding-top: 6rem;
    scroll-behavior: smooth;
}
section{
    padding: 1rem 1%;

}
.heading{
    text-align: center;
    padding: 2.5rem 0;
}
.heading span{
    font-size: 3.5rem;
    background:black;
    color: var(--orange);
    border-radius: 0rem;
    padding:.3rem .2rem;
    display: inline-block;

}
.heading span .space{
    background: none;
}
.btn{
    display: inline-block;
    margin-top: 1rem;
    background: var(--orange);
    color: #fff;
    padding: 0rem 3rem;
    border: .1rem solid blue;
    cursor:pointer;
    font-size: 1.2rem;

}
.btn:hover{
    background: rgb(114, 114, 49);
    color: var(--orange);

}
header{
    position: fixed;
    display: flex;
    top:0;
    left:0;right:0;
     background: rgba(0, 0, 0, 0.931);
    z-index:1000;
    align-items: center;
    justify-content:space-between;
    padding: .1rem 3%;

}
header .logo{
    font-size: 2rem;
    font-weight: bolder;
    color: tomato;
    text-transform: uppercase;

}
header .logo span{
    color: var(--orange);
    font-size: 3rem;
}
header .navbar a{
    color:  rgb(255 169 169);
    font-size: 1.6rem;
     margin: 5px;
   
} 
header .navbar a:hover{
color: var(--orange);
font-weight: bolder;
}
header .icons i{
    font-size: 1.5rem;
    color:rgba(255, 106, 106, 0.87);
    cursor: pointer;
    margin-right: 1rem;

}
header .icons i:hover{
    color:var(--orange);

}
header .search-bar-container{
    position: fixed;
    top:100%;
    left:5%;
    right:5%;
    padding:.8rem 0.8rem;
    background: rgb(0, 0, 0);
    border-top: 2px solid rgb(81, 20, 28);
    display:flex ;
    align-items: center;
    justify-content:flex-end;
    z-index: 1001;
    clip-path:polygon(0 0,100% 0,100% 0,0 0); 
} 
header .search-bar-container .active{
    clip-path: polygon(0 0,100% 0,100% 0,0 0);
}

header .search-bar-container #search-bar{
    width: 99.9%;
    padding: 0.2rem;
    text-transform: none;
    color: rgb(0, 0, 0) ;
    font-size: 1.2rem;
    border-radius: 10px;
}
header .search-bar-container label{
    color:cadetblue;
    cursor: pointer;
    font-size: 1.8rem;
    margin-left: 1.5rem;
}
header .search-bar-container label:hover{
    color:var(--orange);
}



.login-form-container{
  position:absolute;/*to be change*/
    top: 0%;
    left: 0;
    z-index: 3000;
    min-height: 0vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    object-fit: cover;

}

.login-form-container .active{
    top: 0;
}
.login-form-container form{
    margin: 6rem ;
    padding: 1.5rem 2rem;
    border-radius: 18px;
    background :rgb(8 8 8 / 11%);
    width: 50%;
}
.login-form-container form h3{
    font-size: 2rem;
    color:rgb(255, 102, 0);
    text-transform: uppercase;
    text-align: center;
    padding: 1rem 0.2rem;

}
.login-form-container form .box{
    width: 100%;
    /* padding: 1rem; */
    font-size: .8rem;
    color:rgb(78, 67, 67);
    margin: 0.15rem;
    border: .1rem solid #ca5353;
    text-transform: none;
}
.login-form-container form .box:focus{
    border-color: var(--orange);
}
.login-form-container form #remember{
    margin:2rem;
    padding:4px;

}
.login-form-container form label{
    font-size: 1.4rem;

}
.login-form-container form .btn{
    display: block;
    width: 50%;

}
.login-form-container form p{
    padding: .5rem;
    font-size: 1.5rem;
    color:black;
}
.login-form-container form p a{
    color: var(--orange);

}
.login-form-container form p a:hover{
    color:turquoise;
    text-decoration: underline;
} 
.login-form-container #form-close{
    position: absolute;
    top: 2.5rem;
    right: 3rem;
    font-size: 4rem;
    color:burlywood;
}
#menu-bar{
    margin-top: 0vmax;
    color: #e7a452;
    border: .1rem solid rgb(255, 187, 0);
    border-radius: 5px;
    font-size: 3rem;
    padding: 10px 10px;
    cursor: pointer;
    display: none;
}
.home{
   min-height: 80%;
    display: flex;
    /* background-color:#1787d075; */
    font-size: 2.2vh;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    position: relative;
    z-index: 0;
}
.home .content{
    width:100%;
    height:100%;
    background-color:#c4e7d2a8;
    top:4%;
    text-align: center;
   
   
}
.home .content h3{
    font-size:3vh ;
    color: lightcoral;
    text-transform: capitalize;
    text-shadow: 0.04rem 0.05rem rgb(184, 27, 27);
}
.home .content h3 p{
    font-size:1.6vh ;
    color: rgb(240, 238, 128);
    text-transform:uppercase;
    text-shadow: 0.01rem 0.01rem rgb(184, 27, 27);
}
.home .video-container video{
    position:relative;
    top:0;
    left:0;
    margin-left:0;
    padding:0px;
    z-index: -1;
    height: 100vh;
    width: 100vw;
    object-fit: cover;

}
.home .controls{
    padding: 1rem;
    border-radius: 4rem;
    background-color: black;
    position: relative;
    top: 10rem;

}
.home .controls .vid-btn{
    height: 0.5rem;
    width:.5rem;
    display: inline-block;
    border-radius: 50%;
    cursor: pointer;
    background-color: #fff;
    margin: 0.5rem;


}
.home .controls .vid-btn .active{
    background-color: var(--orange);
}

.book .row{

    display: flex;
    flex-wrap: wrap;
    gap:0rem;
    align-items: center;
}
.book .row .image{
    flex: 1 1 20rem;

}
.book .row .image img{
    top:20%;
    height: 40%;
    width: 90%;
}
form .bookings{
    font-weight: bolder;
    padding: 1rem;
    align-items: center;
    justify-content: center;
}
.book .row form{
    background-color: #f3cbcb;
    flex: 1 1 30rem;
    padding: 1rem;
    box-shadow: rgb(59, 22, 224);
    border-radius: 5px;

}
.book .row form .inputBox{
    padding: .5rem 0;
}
.book .row form .inputBox  h3{
    font-size: 1.5rem;
    padding: .2rem 0;
    color: rgb(24, 59, 212);
}
.book .row form .inputBox input{
    padding: .4rem;
    border:5px solid rgb(54,68,60);
    width: 70%;
    font-size: .8rem;
    text-transform: none;
   color: #333;
}

/* pakages  */

.packages .box-container{
    align-items: center;
    justify-items: center;
    justify-content: center;
    margin-top: 2px;
    display: flex;
    flex-wrap:wrap;
    gap:.5rem;

}
.packages .box-container .box{
    
    margin: 10px;
    flex:1 2 20rem;
    border-radius: 8px;
    overflow:hidden;
    box-shadow: 0 1rem 2rem rgba(0,0,0,1) ;
}
.packages .box-container .box img{
   
    height: 30%;
    width:30%;
    object-fit: cover;
}
.packages .box-container .box .content{
    padding: 1.5rem;
}
.packages .box-container .box .content h3{
    font-size: 1.5rem;
    color:#333 ;
}
.packages .box-container .box .content p{
    font-size: .8rem;
    color:#666 ;
    padding:1rem 0 ;
}

.packages .box-container .box .content h3 i{
  
    color:var(--orange) ;
}
.packages .box-container .box .content .stars i{
    font-size: 1rem;
    color:blue;
}
.packages .box-container .box .content .price{
  font-size: 1rem;
    color:#333 ;
    padding-top: 1rem;
}
.packages .box-container .box .content .price span{

  font-size: .9rem;
    color:rgb(180, 94, 94) ;
    text-decoration: line-through;
}

/* services  */


.services .box-container{
    display: flex;
    flex-wrap: wrap;
    gap: .8rem;

}
.services .box-container .box{
    background-color: #68da8bf5;
    margin:5px;
    padding:10px;
    flex: 1 1 20rem;
    text-align: center;
    border-radius: 30px;

}
.services .box-container .box i{
    padding: .3rem;
    font-size: 1.5rem;
    color: var(--orange);

}
.services .box-container .box h3{
    font-size: 1.2rem;
    color: #333;
}
.services .box-container .box p{
    font-size: .8rem;
    color: #666;
    padding: 1rem 0;
    
}
.services .box-container .box:hover{
    box-shadow: 0 .4rem .4rem rgb(162, 187, 111);
    font-size: .9rem;
    color: rgb(59, 32, 179);
    padding: .3rem 0;

}

/* gallery  */


.gallery .box-container{
    display: flex;
    flex-wrap: wrap;
    gap:1.2rem;

}
.gallery .box-container .box{
    overflow: hidden;
    box-shadow:0 .2rem .2rem rgb(197, 194, 16);
    border: 2px solid #bf7315;
    border-radius: 10px;
    flex: 1 1 20rem;
    height: 18rem;
    width:15rem;
    position: relative;

    }
.gallery .box-container .box img{
    height: 100%;
    width: 100%;
    object-fit: cover; 

}
.gallery .box-container .box .content{
    position: absolute;
    top: -100%;
    left: 0;
    height: 100%;
    width: 100%;
    text-align:center;
    justify-content:center;
    background: rgba(0,0,0,.2);
    padding:.6rem;
    padding-top: 4rem;
}
.gallery .box-container .box .content h3{
    font-size: 2rem;
    color: var(--orange);
    
}
.gallery .box-container .box .content p{
    font-size: 0.5rem;
    color:rgb(240, 238, 128);
    padding: .5rem 0;


}
.gallery .box-container .box:hover .content{
  top:0;  
}
/* review  */

.review .swiper-slide{
    padding-bottom: 1.1rem;
}
.review .box{
    padding: 1.5rem;
    text-align: center;
    box-shadow: 0 .2rem .2rem rgb(162, 187, 111);
    border-radius: 12px;
}
.review .box img{
    height:12rem;
    width: 12rem;
    border-radius: 12px;
    object-fit: cover;
    margin-bottom: 1rem;

}
.review .box h3{
    color: rgb(255, 102, 0);
    font-size: 2rem;
    
}
.review .box p{
    color: rgb(118, 158, 116);
    font-size: .8rem;
    padding: .4rem 0;

}
.review .box .stars i{
    color: #e7a452;
    font-size:1rem;
}

/* contact  */

.contact .row{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}
.contact .row .image{
    display: flex;
    flex:1 1 30rem;
}
.contact .row .image img{
   height:100%;
   width:100%;
}
.contact .row form{
    background-color: rgb(113, 122, 122);
    flex:1 1 35rem;
}
.contact .row form .inputBox{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin:1rem 1rem;
    padding: .5rem;
    font-size: .8rem;
    color: rgb(221, 201, 147);
    /* background: rgb(206, 210, 223); */
}
.contact .row form .inputBox input{
    margin:5px;
}
.contact .row .inputBox form textarea{
    background-color: sienna;
}


/* brand contaner  */

.brand-container{
     display: inline-block;
     flex-wrap: nowrap; 
     text-align: center;
}
.brand-container .swiper-slide{
    margin: 4px;
    flex:0 0 10rem; 
    /* overflow: hidden; */
    border-radius: 8px;
    overflow:hidden;
    box-shadow: 0 1rem 2rem rgba(0,0,0,1) ;
   
}
 
.brand-container .swiper-wrapper img{
    display:inline-block;
    height: 5rem;
    width: 5rem;
}
 
 
.footer{
    background-color: #333;
}

.footer .box-container{
  display: flex ;
  flex-wrap: nowrap;
  gap:12px;
  
}
.footer .box-container .box{
    padding: 1rem 0;
    flex: 1 1 20rem;
    
}
.footer .box-container .box h3{
   font-size: 1.5rem;
   padding: .3rem 0;
   color:#fff;
}
.footer .box-container .box p{
   font-size: 0.8rem;
   padding: .3rem 0;
   color:#eee;
}
.footer .box-container .box a{
    display: block;
   font-size: 0.8rem;
   padding: .3rem 0;
   color:#eee;
}
.footer .box-container .box a:hover{
    display: block;
   font-size: .9rem;
   padding: .3rem 0;
   color:rgb(165, 73, 36);
}













@media(max-width:1200px){
    html{
        font-size:55%;
    }
}
@media(max-width:990px){
    header{
        padding: 2rem;
    }
    section{
        padding: 2rem;
    }
}
@media (max-width:770px)
{
    #menu-bar
    {
        display: initial;
    }
    header .navbar
    {
        position: absolute;
        top:100%;
        background: #333;
        border-top: .1rem solid rgb(184, 27, 27);
        padding: 1rem 2rem;
        clip-path: polygon(0 0,100% 0,100% 0,0 0); ;

    }
    header .navbar .active
    {
        clip-path: polygon(0 0,100% 0,100% 0,0 0); ;

    }
    header .navbar a
    {
        display: block;
        border-radius: 3px;
        padding: 1rem;
        margin:1rem 0;
        background: #222;
    }
}

@media(max-width:400px)
{
    html
    {
        font-size:50%;
    }
    .heading span
    {
        font-size:2rem;
    }
    .contact .row form .inputBox input
    {
     width: 100%;
    } 
} 